@font-face {
	font-family: 'iconfont';
	src: url('https://at.alicdn.com/t/font_2306588_wsar3ggocvg.ttf?t=1621413649182') format('truetype');
}

.icon {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.icon2 {
	font-family: "iconfont" !important;
	font-size: 22px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.icon1 {
	font-family: "iconfont" !important;
	font-size: 8px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.iconyuyin:before {
	content: "\e651"
}

.iconxiangyousjx:before {
	content: "\e8ba"
}

.iconguanbi1:before {
	content: "\e621"
}
.iconguanbi2:before {
	content: "\e621"
}


.iconshou:before {
	content: "\e65b"
}

.iconlaba:before {
	content: "\e600"
}

.icontriangle:before {
	content: "\e69d"
}

